body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(216, 214, 214);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

header{
    color: #eee;
    height: 60px;
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.header-links ul{
    display: flex;
    gap: 22px;
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    color: #eee;
    text-decoration: none;
}