*{
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

header{
    height: 60px;
    background: #181f29;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    /* outline: auto; */
}

.header-content{
    display: flex;
    width: 1400px;
    justify-content: space-between;
    align-items: center;
    /* outline: solid white; */
}

.header-logo{
    display: flex;
    gap: 8px;
    color: #f9faf8;
    font-size: 24px;
    padding: 0%;
    margin: 0%;
    align-items: center;
    /* outline: auto; */
}

.header-links ul{
    display: flex;
    gap: 22px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'ancient geek';
}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    /* outline: auto; */
}

.facecard{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #1f2937;
    /* outline: auto; */
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.facecard-container{
    display: flex;
    width: 1400px;
    /* outline: auto; */
    /* margin: auto; */
    gap: 100px;
}

.facecard-content{
    /* outline: auto; */
    display: flex;
    flex-direction: column;
    /* padding: 12px; */
    justify-content: space-between;
}

.attr-facecard{
    /* outline: auto; */
    /* display: flex; */
    margin-top: -26px;
    margin-right: 16px;
    text-align: end;
    justify-content: end;
    width: auto;
    font-size: 10px;
    color: #e5e7eb;
}

p a{
    color: #e5e7eb;
    text-decoration: underline;
    font-size: 10px;
}

.facecard img{
    display: flex;
    border-radius: 18px;
    box-shadow: rgb(255, 123, 0) 0px 0px 30px 0px;
    /* outline: auto; */
}

.facecard-content h1{
    padding: 0;
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 600;
    /* outline: auto; */
}

.facecard-content p{
    /* outline: auto; */
    text-align: justify;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 6px;
}

.facecard-content a{
    display: flex;
    background-color: #e5e7eb;
    color: #000000;
    font-weight: 900;
    width: fit-content;
    border-radius: 12px;
    padding: 12px 22px;
    box-shadow: #e5e7eb 0px 0px 4px 0px;
    border: #181f29 2px solid;
}

.courses-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    background-color: #f9faf8;
    
}

.courses-card h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 0%;
    margin: 0px;
    width: fit-content;
    text-shadow: rgb(248, 50, 0) 0px 2px 2px ;
    /* outline: auto; */
}

.courses-content{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: auto;
    /* outline: auto; */
}

.courses-description{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.courses-content img{
    border: grey 2px solid ;
    box-shadow: #181f29 0px 0px 12px 0px;
    border-radius: 12px;
}

small a{
    text-shadow: #000000 0px 0px 0px;
    font-size: 11px;
    text-decoration: underline;
    /* align-items: center; */
}

small{
    text-align: center;
    font-size: 11px;
    margin: 4px;
}

.courses-description h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #1f2937;
    border-radius: 16px;
    margin-top: 12px;
    margin-bottom: auto;
    font-size: 22px;
    text-shadow: #000000 0px 4px 0px;
    box-shadow: #000000 0px 12px 0px 0px;
}

.courses-description p{
    color: #1f2937;
    margin-top: 22px;
}

.quote-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 600px;
}

q{
    text-align: justify;
    width: 1200px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    
}

.quote-card p{
    display: flex;
    width: 1200px;
    justify-content: end;
    font-weight: 800;
}

.call-card{
    display: flex;
    flex: 1 1 1;    
    height: 400px;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.call-content{
    background-color: #2559b9;
    display: flex;
    width: 1400px;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    color: #e5e7eb;
    box-shadow: #3361b6 0px 16px 0px 0px;
    border: #3e7ff7 16px solid;
    font-size: 3;
}

.call-phrase{
    font-weight: 900;
    font-size: 24px;
}

.call-content a{
    display: flex;
    padding: 0%;
    margin: 0%;
    font-weight: 900;
    width: fit-content;
    border-radius: 12px;
    padding: 12px 22px;
    background-color: #e5e7eb;
    color: #1f2937;
    box-shadow: rgb(255, 255, 255) 0px 0px 12px 0px;
    border: #181f29 2px solid;
}

footer{
    background: #181f29;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #e5e7eb;
}

.footer-content{
    display: flex;
    gap: 2px;
    /* font-family: 'ancient geek'; */
    /* width: fit-content; */
}

footer a{
    display: flex;
    font-size: 12px;
    text-decoration: underline white;
    width: auto;
}

.mythology{
    color: gold;
    text-shadow: rgb(248, 50, 0) 0px 2px 2px ;
}

.atlas-logo{
    display: flex;
    font-family: 'ancient geek';
    align-items: center;
    /* justify-content: center; */
}